//_sidebar.scss - Sidebar style
.sidebar {
    background-color: $lightgray;
    height: 100%;
    width: 13.750em;
    position: fixed;

    .sidebar__label {
        color: $text-gray;
        font-family: 'Segoe Ui SemiBold';
        font-size: 0.750em;
        padding: 1.125em 1.063em;
        margin: 0 0 1.1em 0;
        
    }
    .sidebar__button {
        width: 100%;
    }
}