//_topbar.scss - Topbar style
.topbar {
    background-color: $lightgray;
    width: 100%;
    position: absolute;
    top: 3.500em;
    left: 0;

    .topbar__wrapper {
        @include flexbox;
        align-items: center;
        justify-content: space-between;
        padding: 1.125em 0;
    }
    .topbar__label {
        color: $text-gray;
        font-family: 'Segoe Ui SemiBold';
        font-size: 0.750em;
        margin: 0;
    }
    .topbar__searchBox {
        @include flexbox;
        align-items: flex-start;
        width: calc(100% - 13.750em);
        padding: 0 1.813em;

        .searchBox__icon {
            margin-right: 0.5em;
            
            svg {
                height: 1em;
                width: 1em;

                path {
                    fill: $icon-gray;
                }
            }
        }
        .searchBox__input {
            .search__group {
                input,
                label {
                    width: 100%;
                }
            }
        }
    }
}