//_buttons.scss - Button style
.processos__button {
    @extend .reset-button;
    color: $text-gray;
    font-family: 'Segoe Ui SemiBold';
    text-align: left;
    font-size: 0.875em;
    display: block;
    padding: 0.563em 0.938em;
    height: 38px;
    @include flexbox;
    align-items: center;
    justify-content: space-between;

    &.active {
        background-color: $bg-gray;
        border-left: 3px solid $blue;
    }

    svg {
        height: 1em;
        width: 0.759em;
        margin-right: 0.738em;

        path {
            fill: $text-gray;
        }
    }
    .button__total {
        font-size: 0.750em;
        text-align: right;
    }
    
}
.etiquetas__button {
    @extend .reset-button;
    color: $text-gray;
    font-family: 'Segoe Ui Regular';
    text-align: left;
    font-size: 0.875em;
    display: block;
    padding: 0.563em 0.938em;
    height: 38px;
    @include flexbox;
    align-items: center;
    justify-content: space-between;

    .button__color {
        height: 0.375em;
        width: 1em;
        display: inline-block;
        margin-right: 0.5em;

        &--orange {
            background-color: $orange;
        }
    }
    .button__icon {
        svg {
            vertical-align: middle;
            display: inline-block;
            margin-right: 0.5em;

            path {
                fill: $text-gray;
            }
        }
    }
    .button__total {
        font-size: 0.750em;
        text-align: right;
    }
}

