//_input.scss - Input style
.search__group {
    position: relative;
    
    input {
        background: transparent;
        border: 0;
        color: $text-gray;
        font-family: 'Segoe Ui Regular';
        font-size: 0.750em;

        &:focus {
            outline: 0;
        }
    }
}